body {
  background-color: #fcd232;
  margin-top: 136.4px;
}

.bg-red {
  background-color: #ff1300;
}
.bg-orange {
  background-color: #fcd232 !important;
}
.logo {
  width: 50px;
  height: 50px;
}
.logo-text {
  font-size: 0.6rem;
}
.btn-size {
  width: 16rem;
  background-color: #ff1300;
}

.nav-link:hover {
  color: #fff !important;
  border-left: 1px solid #fff;
  transition: 0.5s;
}
/* Hamburger menu */
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.bar {
  display: block;
  width: 3rem;
  height: 0.35rem;
  background-color: #2a2a2a;
  margin-block: 0.4rem;
  border-radius: 3px;
}
.bar-2 {
  width: 2rem;
}
.bar-3 {
  width: 1.3rem;
}
/* Banner */

.banner-darken {
  height: 60vh;
  background: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}
.banner {
  background-image: url(./images/Hero_img.jpg) !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.heading-size {
  font-size: 3rem;
}
/* Heading styling */
.text {
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.2),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.2);
  letter-spacing: 10px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(255, 255, 255, 0.2);
}
/* ---Media query--- */

@media (max-width: 768px) {
  .nav-link {
    color: white !important;
  }
  .offcanvas-body ul li a {
    border-left: none !important;
  }
  .offcanvas-body ul li a:focus {
    background-color: #54535375 !important;
    width: auto;

    padding: 0.6rem;
    border-radius: 3px !important;
  }
}
@media (max-width: 425px) {
  .heading-size {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .heading-size {
    font-size: 1.2rem;
  }
}
