/* resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(252, 235, 213, 1);

  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
}
/* Navbar */

.navbar {
  background-color: rgba(245, 227, 203, 1);
  height: 4.3125rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25) !important;
}

.navbar_title {
  color: rgba(161, 106, 94, 1);
  font-family: "Reenie Beanie", Ubuntu Mono;
  font-weight: 500;
  font-size: 30px;
}
.logo-img {
  width: 145.09px;
  height: 145.14px;
  margin-top: 120px;
  margin-bottom: calc(320px - 265px);
}

#join_container {
  height: 392.5px;
  width: 260px;
}

#join_artist {
  width: 260px;
  height: 276.5px;
  border-top: 100px solid rgba(237, 213, 187, 1);
  border-bottom: solid 176.5px transparent;
  border-right: solid 260px rgba(237, 213, 187, 1);
}

#join_visitor {
  border-bottom: 100px solid rgba(161, 106, 94, 1);
  border-top: solid 176.5px transparent;
  border-left: solid 260px rgba(161, 106, 94, 1);
  top: 100px;
}

#join_artist:hover {
  transform: scale(1.05);
  transition: 0.1s;
  z-index: 1;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
#join_visitor:hover {
  transform: scale(1.05);
  transition: 0.1s;
  z-index: 2;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
#artist_container {
  width: 225.52px;
  height: 86.42px;
  position: absolute;
  left: 30px;
  bottom: -30px;
}
#artist_container h4,
#visitor_container h4,
.artist-name {
  font-family: "Reenie Beanie", Ubuntu Mono;
  font-size: 45px;
  color: rgba(161, 106, 94, 1);
  font-weight: 400 !important;
}
.artist-name {
  font-size: 30px;
}
#visitor_container {
  width: 225.52px;
  height: 86.42px;
  position: absolute;
  right: 5px;
}

#visitor_container h4 {
  color: rgba(252, 235, 213, 1);
}
/* dropdown */
#dropdown_menu_container {
  left: 110px;
}
#dropdown_btn {
  width: 102.22px;
  height: 28.45px;
  border: 1px solid rgba(161, 106, 94, 1);
  color: rgba(161, 106, 94, 1);
  background-color: transparent;
  border-radius: 3px;
}
.button_text {
  font-size: 14px;
  font-weight: 300 !important;
  line-height: 15.23px;
}

.arrow-img {
  width: 14px;
  height: 7px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  background-color: rgba(252, 235, 213, 1);
  border-color: rgba(161, 106, 94, 1);
}
.dropdown-item {
  color: rgba(161, 106, 94, 1);
}
.dropdown-item:hover {
  background-color: rgba(161, 106, 94, 1);
  color: rgba(252, 235, 213, 1);
}
/* Visitor Home Page */
.logo_visitor {
  width: 104px !important;
  height: 104px !important;
}
.auction-icon {
  margin-bottom: 30px;
  margin-right: 10px;
}
.navbar {
  z-index: 3;
}

.row-brick {
  height: 15.69px !important;
  margin-bottom: 1px;
  background-image: url("/assets/Vector-brick.png") !important;
  background-size: 37.94px 15.69px;
  background-repeat: repeat-x;
}
.container_bricks {
  padding-top: 10px;
  padding-bottom: px;
  height: 154px;
}
.row-brick:nth-child(odd) {
  margin-left: 10px;
}
.row-brick:nth-child(even) {
  margin-right: 10px;
}

.bricks_header {
  width: 192px;
  height: 75px;
  font-weight: 500;
  font-size: 30px !important;
  color: rgba(161, 106, 94, 1);
}
.find_one {
  background-color: rgba(161, 106, 94, 1);
  width: 113px;
  height: 27px;
  border: none;
  border-radius: 2px;
  font-size: 12px;

  color: rgba(252, 235, 213, 1);
  font-weight: 700;
}
.bricks-textButton-container {
  width: 100%;
  top: 25%;
}
/* Slider */

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 429px;
  background-color: rgba(237, 213, 187, 1);
}
.slider_row_1 {
  animation: slideshow 60s linear infinite;
  width: calc(429px * 19);
}
.slider_row_2 {
  animation: slideshow2 60s linear infinite;
  width: calc(429px * 19);
}
.slider_row_1:hover {
  animation-play-state: paused;
}
.slider_row_2:hover {
  animation-play-state: paused;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-429px * 10));
  }
}
@keyframes slideshow2 {
  0% {
    transform: translateX(calc(-429px * 10));
  }
  100% {
    transform: translateX(0);
  }
}
.slider_img {
  width: 218px;
  height: 155.5px;
  margin: 15px 15px;
  background: rgba(237, 213, 187, 1);
  box-shadow: 10px 10px 5px #3331313e;
}
.slider_img:hover {
  scale: 1.1;
  transition: 0.5s;
}
/* Carousel */

.img-circle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid rgba(161, 106, 94, 1);
  left: 50%;
  transform: translate(-50%);
  bottom: 80%;
}
.myCarousel_Container {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
.myCarousel {
  height: 244px;
}
.carousel-inner {
  height: 100%;
  width: 300%;
  justify-content: center;
  transition: 0.5s;
}
.rectangle {
  width: 106px;
  height: 111px;
  background-color: rgba(224, 150, 134, 1);
  color: rgb(255, 255, 255);
  line-height: 12.44px;
  text-align: center;
  padding: 30px 10px;
  font-size: 9px;
  font-weight: 400;
}
.content-right-site {
  color: rgba(161, 106, 94, 1);
}
.content-right-site p {
  font-size: 9px;
  font-weight: 400;
  width: 106px;
}

.button-left {
  left: 0;
  top: 40%;
}
.button-right {
  right: 0;
  top: 40%;
}
.button-left,
.button-right {
  border: none;
  background-color: transparent;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 0.5;
}
.carousel_item {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-title {
  color: #a16a5e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-content {
  color: #a16a5e;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-shadow {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.price-tag {
  border-radius: 2px;
  background: #a16a5e;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  color: #fcebd5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 8px;
}
.filter-icon {
  width: 67px;
  position: fixed;
  bottom: 18px;
  right: 18px;

  cursor: pointer;
}
